@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    font-family: 'Permanent Marker', sans-serif;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.content-photo {
    width: 100%;
    height: auto;
    box-shadow: 6px 10px 22px -9px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1240px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 640px) {
    .content {
        grid-template-columns: 1fr;
    }
}