.main {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: #333333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.main-photo {
    height: 50%;
    background: linear-gradient(130deg, rgba(252,222,190,0.6) 0%, rgba(252,222,190,0.6) 50%, rgba(37,137,189,0.6) 100%), url("../img/bg.jpg") center;
    background-size: cover;
    clip-path: polygon(50% 100%, 0% 75%, 0% 0%, 100% 0%, 100% 75%);
}

.main-content {
    text-align: center;
}

.main-content-header {
    font-size: 180px;
    text-transform: uppercase;
    margin: 80px 0;
    background: -webkit-linear-gradient(130deg, rgba(252,222,190,1) 0%, rgba(252,222,190,1) 50%, rgba(37,137,189,1) 50%, rgba(37,137,189,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-content-text {
    color: #2589BD;
    font-size: 30px;
}

.pink-text {
    color: #FCDEBE;
}
