@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    height: 100%;
    font-family: 'Pacifico', sans-serif;
}

.container {
    width: 320px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    color: #000;
    font-size: 36px;
    margin-bottom: 40px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.game-container-cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.game-container-cell:nth-child(3n+1) {
    border-right: 1px solid #333333;
}

.game-container-cell:nth-child(3n+3) {
    border-left: 1px solid #333333;
}

.game-container-cell:nth-child(4), .game-container-cell:nth-child(5), .game-container-cell:nth-child(6) {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}