@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    height: 100%;
    font-family: 'Pacifico', sans-serif;
}

.container {
    width: 320px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header {
    color: #000;
    font-size: 36px;
    margin-bottom: 20px;
}

.player1, .player2 {
    position: absolute;
    text-orientation: upright;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    background: rgba(255,255,255,0.7);
}

.player1 {
    left: 10px;
    color: cornflowerblue;
}

.player2 {
    right: 10px;
    color: red;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: relative;
}

.game-container-cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container-cell:nth-child(3n+1) {
    border-right: 1px solid #333333;
}

.game-container-cell:nth-child(3n+3) {
    border-left: 1px solid #333333;
}

.game-container-cell:nth-child(4), .game-container-cell:nth-child(5), .game-container-cell:nth-child(6) {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.restart, .new-game {
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 90%;
    background-color: transparent;
}

.blue {
    color: cornflowerblue;
}

.red {
    color: red;
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.overlay-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
}

.overlay-content-header {
    font-size: 24px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.overlay-content-start {
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
}

.overlay-content-start:focus {
    outline: none;
}

.message {
    position: absolute;
    top: 50%;
    width: fit-content;
    left: 50%;
    font-size: 30px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
}

.turn {
    margin-bottom: 20px;
    color: lightgreen;
    font-size: 18px;
}

.d-none {
display: none;
}